@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Exo', sans-serif;
}

body {
    margin: 0;
    color: #f9f9f9;
}

input[type=text] {
    border: none;
    outline: none;
}

button {
    border: none;
}

.wrapper {
    display: flex;
    position: relative;
    background: url('bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    height: 50em
}

.container {
    width: 60em;
    height: 60%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 3em;
    position: relative;
}

.container .loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: loading 0.5s linear;
}

@keyframes loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container .loading img {
    width: 30%;
    height: 30%;
}

.container .search {
    display: flex;
    width: 100%;
}

.container .search input[type=text] {
    width: 30%;
    height: 2em;
    border-radius: 8px;
    padding: 1em;
}

.container .search button {
    margin-left: 0.5em;
    width: 3em;
    background-color: #0fcfff;
    color: #f9f9f9;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #31d6ff radial-gradient(circle, transparent 1%, #31d6ff 1%) center/15000%;
}

.ripple:active {
    background-color: #0fcfff;
    background-size: 100%;
    transition: background 0s;
}

.container .container h2 {
    line-height: 1em;
    font-weight: 600;
    color: #f9f9f9;
}

.clouds_info {
    position: absolute;
    right: 5em;
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clouds_info h3 {
    line-height: 1em;
}

.clouds_info .clouds {
    width: 15em;
    height: 15em;
    overflow: hidden;
}

.clouds_info .clouds img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.clouds_info .temp {
    font-size: 58px;
    font-weight: 700;
}

.forecast {
    width: 70%;
    position: relative;
}

.forecast p {
    margin: 0.5em;
}

.forecast .swiper-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.forecast .swiper {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.forecast .swiper-slide {
    display: flex;
    position: relative;
    list-style: none;
    height: 15em;
    width: 7em;
    background-color: #f9f9f92d;
    border-radius: 14px;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.forecast .swiper-slide .img {
    width: 6em;
    height: 6em;
    margin-top: 1em;
}

.forecast .swiper-slide .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.forecast .swiper-slide .temp {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    bottom: 1em;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5em;
    color: #f9f9f95d;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 1015px) {
    .container {
        width: 95%;
        height: auto;
        padding: 2em;
    }
}

@media (max-width: 880px) {
    .container {
        width: 50em;
        height: auto;
        padding: 2em;
    }
    .clouds_info {
        right: 3em;
    }
}

@media (max-width: 830px) {
    .wrapper {
        height: auto;
    }
    .container {
        width: 80%;
        height: auto;
        padding: 2em;
    }
    .container .search input[type=text] {
        width: 80%;
    }
    .container .search button {
        width: 40%;
    }
    .clouds_info {
        position: initial;
        bottom: 1em;
        right: 0;
    }
    .clouds_info .clouds {
        width: 7em;
        height: 7em;
        overflow: hidden;
    }
    .clouds_info .temp {
        font-size: 28px;
    }
    .forecast {
        width: 100%;
    }
    .forecast .swiper {
        width: 100%;
        font-size: 12px;
        position: relative;
    }
    .forecast .swiper>.swiper-slide {
        margin-bottom: 2%;
    }
    .forecast {
        margin-top: 1em;
    }
    .forecast .swiper-slide {
        width: 20%;
        height: 10em;
    }
    .forecast p {
        font-size: 10px;
    }
    .forecast .swiper-slide .img {
        width: 3em;
        height: 3em;
        margin-top: 0.5em;
    }
}